body{
    background-color: rgb(245, 245, 245);
    justify-content: center;
    align-items: center;
    padding: 200px 700px;
    font-family: Arial, Helvetica, sans-serif;

    
}

.hero {
    background-color: white;
    color: black;
    border: 1px solid rgb(221, 216, 216);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    justify-content: center;
    height: 42vh;
    width: 20vw;
    padding: 20px 0px;

}

form{
    border: 1cm;
    justify-content: center;
    line-height: 60px;
    
}
form input{
    padding: 0px 10px;
    width: 300px;
    height: 30px;
}
.hero1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero10{
   padding: 0px 20px;
   justify-content: center;
   align-items: center;
}
.hero1 a{
    text-decoration: none;
    color: blue;
    padding: 20px;
}
.hero button{
    background-color: rgb(31, 123, 243);
    color: white;
    border-radius: 5px;
    width: 320px;
    height: 35px;
    border: 20px;
    

}
.hero2{
   
    display: flex;
  
    justify-content: center;
}
.hero2 a{
    text-decoration: none;
    color: blue;
}