
        body{
            background-color: rgb(220, 207, 233);
            
        }
        .titre1{
            color: rgb(192, 50, 145);
            text-align: center ;
        }
        p{
            color: rgb(85, 29, 85) ;

        }
        h1{
            color: rgb(192, 50, 145);
        }

  