
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
}
header{
    color: white;
    background-color: rgb(43, 40, 40);
    padding: 20px 60px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
nav a{
    color: white;
    text-decoration: none;

}
nav button {
    background-color: rgb(241, 6, 85);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav a:hover{
    color: aqua;
}
.nav1{
    margin: 0px 50px;
}

.hero{
    background :linear-gradient(to left,rgb(59, 153, 224),rgb(58, 244, 182));
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;

}
.hero-content{
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;

}
.hero-content img{
 width: 150px;
 height: 130px;
 border-radius: 50%;  
}
.hero-content1 {
    padding: 50px;
}